/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
}

nav {
    background-color: #880808;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    margin-top: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2, h3 {
    color: #2c3e50;
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

.viz-block {
    margin: 30px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 300px;
}

img.viz-block {
    max-width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #777;
}

.hero {
    background-image: url('https://assets.vogue.com/photos/66635a4dfd7e8e20e523ec29/master/w_2560%2Cc_limit/1162854296');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: white;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(133, 146, 149, 0.5);
    padding: 30px;
    border-radius: 10px;
    color: white;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.5em;
    color: #2c3e50;
}

.viz-section {
    margin-bottom: 60px;
    padding: 30px 20px;
    background-color: #8b8b8b33;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(245, 245, 245, 0.752);
}

